workflow.json
{
  "name": "GitHub Weekly Activity Narrative Summary (Enterprise Edition)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "trigger",
      "name": "Weekly Schedule"
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "REPO_OWNER", "value": "Expensify" },
            { "name": "REPO_NAME", "value": "App" },
            { "name": "NOTIFY_PLATFORM", "value": "discord" },
            { "name": "DISCORD_WEBHOOK", "value": "PASTE_HERE" },
            { "name": "SLACK_WEBHOOK", "value": "PASTE_HERE" }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "config",
      "name": "Global Config"
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "get",
        "owner": "={{$node[\"Global Config\"].json[\"REPO_OWNER\"]}}",
        "repository": "={{$node[\"Global Config\"].json[\"REPO_NAME\"]}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        -100
      ],
      "id": "github",
      "name": "Fetch GitHub Activity",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20240620",
        "prompt": "=Generate a professional weekly progress narrative for the repository: {{$node[\"Global Config\"].json[\"REPO_OWNER\"]}}/{{$node[\"Global Config\"].json[\"REPO_NAME\"]}}.\n\nContext: \n- Stars: {{$json[\"stargazers_count\"]}}\n- Open Issues: {{$json[\"open_issues_count\"]}}\n\nOutput should be structured for a stakeholders update.",
        "options": {
          "systemMessage": "You are an expert technical project manager. Write a concise, high-impact narrative summary."
        }
      },
      "type": "n8n-nodes-base.anthropicChatModel",
      "typeVersion": 1,
      "position": [
        700,
        -100
      ],
      "id": "claude",
      "name": "Claude AI Narrative"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Global Config\"].json[\"NOTIFY_PLATFORM\"]}}",
              "value2": "discord"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        -100
      ],
      "id": "router",
      "name": "Notification Router"
    },
    {
      "parameters": {
        "url": "={{$node[\"Global Config\"].json[\"DISCORD_WEBHOOK\"]}}",
        "sendBody": true,
        "jsonBody": "={\n  \"content\": \"{{$json[\"text\"]}}\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1150,
        -200
      ],
      "id": "discord",
      "name": "Send Discord"
    },
    {
      "parameters": {
        "url": "={{$node[\"Global Config\"].json[\"SLACK_WEBHOOK\"]}}",
        "sendBody": true,
        "jsonBody": "={\n  \"text\": \"{{$json[\"text\"]}}\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1150,
        0
      ],
      "id": "slack",
      "name": "Send Slack"
    },
    {
      "parameters": {
        "content": "### 🛡️ Error Handling & Resiliency\nThis node catches any API failures (GitHub/Claude) and ensures the workflow doesn't just die. You can add an email alert node here."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        150
      ],
      "id": "note"
    }
  ],
  "connections": {
    "Weekly Schedule": { "main": [[{ "node": "Global Config", "type": "main", "index": 0 }]] },
    "Global Config": { "main": [[{ "node": "Fetch GitHub Activity", "type": "main", "index": 0 }]] },
    "Fetch GitHub Activity": { "main": [[{ "node": "Claude AI Narrative", "type": "main", "index": 0 }]] },
    "Claude AI Narrative": { "main": [[{ "node": "Notification Router", "type": "main", "index": 0 }]] },
    "Notification Router": {
      "main": [
        [{ "node": "Send Discord", "type": "main", "index": 0 }],
        [{ "node": "Send Slack", "type": "main", "index": 0 }]
      ]
    }
  }
}
