workflow.json
{
  "name": "GitHub Weekly Summary with Claude AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      },
      "id": "1843b04c-473d-4c31-9f93-1b777a834241",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        460,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "REPO_OWNER",
              "value": "Expensify"
            },
            {
              "name": "REPO_NAME",
              "value": "App"
            },
            {
              "name": "DISCORD_WEBHOOK_URL",
              "value": "PASTE_YOUR_DISCORD_WEBHOOK_URL"
            },
            {
              "name": "LANGUAGE",
              "value": "EN"
            }
          ]
        },
        "options": {}
      },
      "id": "7665796b-0723-40a2-972f-5f096be273f5",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        680,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "repository",
        "operation": "get",
        "owner": "={{ $node[\"Config\"].json[\"REPO_OWNER\"] }}",
        "repository": "={{ $node[\"Config\"].json[\"REPO_NAME\"] }}"
      },
      "id": "e229202a-9e12-4f3f-9173-0498b50284e3",
      "name": "GitHub Fetch Data",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        900,
        240
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_GITHUB_CREDENTIAL_ID",
          "name": "GitHub Account"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20240620",
        "prompt": "=Stats from {{ $node[\"Config\"].json[\"REPO_OWNER\"] }}/{{ $node[\"Config\"].json[\"REPO_NAME\"] }} this week:\n- Commits: {{ $node[\"GitHub Fetch Data\"].json[\"stargazers_count\"] }} (Example mapping)\n- Narrative context: Use the language {{ $node[\"Config\"].json[\"LANGUAGE\"] }}.\n\nWrite a friendly and professional weekly narrative summary of recent activity.",
        "options": {
          "systemMessage": "You are a developer advocate writing a weekly report."
        }
      },
      "id": "c339a04a-9e12-4f3f-9173-0498b50284e3",
      "name": "Claude Sonnet AI",
      "type": "n8n-nodes-base.anthropicChatModel",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic Account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"Config\"].json[\"DISCORD_WEBHOOK_URL\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json[\"text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d339a04a-9e12-4f3f-9173-0498b50284e3",
      "name": "Discord Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        240
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "GitHub Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Fetch Data": {
      "main": [
        [
          {
            "node": "Claude Sonnet AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet AI": {
      "main": [
        [
          {
            "node": "Discord Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
